<launch>

    <!-- ARTIFACTS -->
    <!-- arguments -->
    <rosparam command="load" file="$(find artifacts_cvsa)/cfg/ringbuffer.yaml"/>
    <rosparam command="load" file="$(find artifacts_cvsa)/cfg/artifact.yaml"/>
    <arg name="nchannels" default='32'/>
    <arg name="chunkSize" default='32'/>
    <arg name="modality" default='online'/>
    <arg name="samplerate" default='512'/>

    <!-- node -->
    <node name="artifactDetector_node" pkg="artifacts_cvsa" type="artifactDetector_node" output="screen"> 
        <param name="nchannels"   value="$(arg nchannels)"/>
        <param name="chunkSize"       value="$(arg chunkSize)"/>
        <param name="modality" value="$(arg modality)"/>
    </node>

    <!-- TEST NODES -->
    <!-- logger node -->
    <node pkg="artifacts_cvsa" type="test_logger_artifacts_cvsa" name="test_logger_artifacts_cvsa" output="screen">
        <param name="output_filename" value="$(find artifacts_cvsa)/test/node/artifacts.csv"/>
    </node>
    
    <!-- publisher node -->
    <node pkg="artifacts_cvsa" type="test_publisher_artifacts_cvsa" name="test_publisher_artifacts_cvsa" output="screen">
        <param name="csv_file" value="$(find artifacts_cvsa)/test/rawdata.csv"/>
        <param name="chunk_size" value="$(arg chunkSize)"/>   
        <param name="sample_rate" value="$(arg samplerate)"/> 
    </node>

    

</launch>